.settings
.project

music-store-data/.settings
music-store-data/target
music-store-data/.classpath
music-store-data/.project

music-store-entities/.settings
music-store-entities/target
music-store-entities/.classpath
music-store-entities/.project

music-store-services/.settings
music-store-services/target
music-store-services/.classpath
music-store-services/.project

music-store-web/.settings
music-store-web/target
music-store-web/.classpath
music-store-web/.project